.search-container {
  margin-top: 30px;
}
.search-bar {
  padding: 10px 20px;
  border-radius: 5px;
}
.search-button {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bolder;
  background-color: rgb(138, 196, 223);
}
#meal_card {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
